<!DOCTYPE html>
<html>
<body>
	<v-horizontal-layout style-name="navbar">
		<v-button _id="homeButton" style-name="home-button"></v-button>
		<v-horizontal-layout style-name="search-layout">
			<v-text-field _id="searchTextField" style-name="search-text-field"></v-text-field>
			<v-button _id="searchButton" style-name="search-button"></v-button>
		</v-horizontal-layout>
		<v-horizontal-layout style-name="right-menu-layout">
			<v-menu-bar _id="rightMenuBar" style-name="right-menu-bar"></v-menu-bar>
		</v-horizontal-layout>
	</v-horizontal-layout>
</body>
</html>
