<div class="modal-dialog" role="document" id="worksheet-accession-number-picker">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" id="header-close-button"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Worksheet</h4>
        </div>
        <div class="modal-body">
            <% if (availableAccessionNumbers.length > 0) { %>
                <select class="selectpicker show-menu-arrow show-tick" data-width="auto" id="accessionNumberSelect" title="Choose an existing worksheet">
                    <% for (var i = 0; i < availableAccessionNumbers.length; i++) { %>
                        <option value="<%= availableAccessionNumbers[i] %>"><%- availableAccessionNumbers[i] %></option>
                    <% } %>
                </select>
                <br /><br />
            <% } %>
            <div>
                <div>
                    <% if (availableAccessionNumbers.length > 0) { %>
                    Or enter a new accession number:
                    <% } else { %>
                    Enter a new accession number:
                    <% } %>
                </div>
                <input id="newAccessionNumberInput" placeholder="New accession number" size="26" type="text" />
            </div>
            <br/>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="footer-close-button">Cancel</button>
                <button type="button" class="btn btn-primary" id="footer-ok-button">OK</button>
            </div>
            <div class="alert alert-warning" hidden="hidden" id="alert" role="alert">
                <strong>Please select or enter an accession number</strong>
            </div>
        </div>
    </div>
</div>
