<script id="alert-template" type="text/html">
  <div class="alert-template">
    <!-- ko if: successAlertText() || warningAlertText() -->
    <div class="container-fluid">
      <!-- ko if: successAlertText -->
      <div class="row">
        <div class="col-12 text-center">
          <div class="alert alert-success" data-bind="click: onClickCloseAlert, visible: successAlertText">
            <a aria-label="close" class="close">&times;</a>
            <span data-bind="html: successAlertText"></span>
          </div>
        </div>
      </div>
      <!-- /ko -->
      <!-- ko if: warningAlertText -->
      <div class="row">
        <div class="col-12 text-center">
          <div class="alert alert-warning" data-bind="click: onClickCloseAlert, visible: warningAlertText">
            <a aria-label="close" class="close">&times;</a>
            <span data-bind="html: warningAlertText"></span>
          </div>
        </div>
      </div>
      <!-- /ko -->
    </div>
    <!-- /ko -->
  </div>
</script>