<div id="features-drawer" class="drawer drawer-inside dw-xs-10 dw-sm-6 dw-md-4 fold.open open" aria-labelledby="features-drawer">
    <div class="drawer-controls">
        <a aria-foldedopen="false" aria-controls="features-drawer" class="btn btn-primary btn-sm" data-toggle="drawer" href="#features-drawer" id="features-button">&lt;&lt; Features</a>
    </div>
    <div class="drawer-contents">
        <div class="drawer-heading">
            <h2 class="drawer-title">Features</h2>
        </div>
        <div class="drawer-body">
            Explanatory text
        </div>
        <ul class="drawer-nav" id="feature-sets" style="vertical-align: top">
        </ul>
    </div>
</div>
