<div class="container-fluid top-level-view-content">
    <div class="row">
        <div class="col-12">
            <div class="progress" style="height: 32px">
                <div class="progress-bar progress-bar-striped" role="progressbar" data-bind="attr: { 'aria-valuemax': lastStateMarkIndex, 'aria-valuenow': currentStateMarkIndex }, style: { width: progressPercentage }, text: progressPercentage"
                    aria-valuemin="0"></div>
            </div>
        </div>
    </div>

    <div class="row">
        &nbsp;
    </div>

    <!-- ko template: 'next-previous-buttons-template' -->
    <!-- /ko -->

    <div class="row">
        &nbsp;
    </div>

    <div class="row">
        <div class="col-10 offset-1">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center" data-bind="text: worksheetState().id"></h2>
                </div>
                <div class="card-body" id="state-content">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        &nbsp;
    </div>


    <!-- ko template: 'next-previous-buttons-template' -->
    <!-- /ko -->
</div>