<div class="container-fluid top-level-view-content">
    <!-- ko template: 'next-previous-buttons-template' -->
    <!-- /ko -->

    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center" data-bind="text: worksheetState().id"></h2>
                </div>
                <div class="container-fluid card-body" id="state-content">
                </div>
            </div>
        </div>
    </div>

    <!-- ko template: 'next-previous-buttons-template' -->
    <!-- /ko -->
</div>