<script id="next-previous-buttons-template" type="text/html">
    <div class="row">
        <div class="col-12">
            <!-- ko if: $root.previousButtonVisible() -->
            <div class="pull-left">
                <a class="btn btn-lg btn-primary" data-bind="click: $root.onClickPreviousButton">Previous</a>
            </div>
            <!-- /ko -->
            <!-- ko if: $root.nextButtonVisible() -->
            <div class="pull-right">
                <a class="btn btn-lg btn-primary" data-bind="click: $root.onClickNextButton">Next</a>
            </div>
            <!-- /ko -->
        </div>
    </div>
</script>