<!-- ko if: review -->
<h3 class="card-title">Review</h3>
<!-- ko foreach: featureSetStateTables -->
<h5 class="card-subtitle" data-bind="text: featureSetDefinition.displayName"></h5>
<!-- ko template: { name: 'feature-set-state-table-template', data: $data } -->
<!-- /ko -->
<!-- /ko -->
JSON:
<br/>
<pre data-bind="text: JSON.stringify(worksheetState().toThryftJsonObject(), undefined, 4)"></pre>
<!-- /ko -->

<!-- ko if: !review -->
<h3 class="card-title">Select feature sets</h3>
<p class="card-text">Select one or more feature sets to describe the object.</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Description</th>
            <th>Features</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: selectableFeatureSets">
        <tr>
            <td class="text-center">
                <a class="btn btn-lg btn-secondary" data-bind="click: onToggle, css: { active: selected }, text: definition.displayName"></a>
                <input data-bind="iCheck: selected" type="checkbox" />
            </td>
            <td>
                <!-- ko if: definition.description -->
                <!-- ko template: { name: 'description-template', data: definition.description } -->
                <!-- /ko -->
                <!-- /ko -->
            </td>
            <td class="align-middle">
                <!-- ko foreach: definition.features -->
                <span data-bind="text: displayName"></span>&nbsp;&nbsp;
                <!-- /ko -->
            </td>
        </tr>
    </tbody>
</table>
<!-- /ko -->