<!-- ko if: review -->
<div class="w-100">
    <div class="float-left">
        <h3 class="card-title">Review</h3>
    </div>
    <div class="float-right">
        <div class="form-inline">
            <a class="action btn btn-secondary" id="copy-button">Copy</a>&nbsp;
            <a class="action btn btn-secondary" data-bind="click: onClickEmailButton">Email</a>&nbsp;
            <a class="action btn btn-secondary" data-bind="click: onClickDownloadButton">Download</a>&nbsp;
            <select class="form-control" data-bind="options: stringExporters, optionsText: function(x) { return x.fileExtension.toUpperCase() }, value: selectedStringExporter">
            </select>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- ko foreach: featureSetStateTables -->
<h5 class="card-subtitle text-center" data-bind="text: featureSetDefinition.displayName"></h5>
<br/>
<!-- ko template: { name: 'feature-set-state-table-template', data: $data } -->
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->

<!-- ko if: !review -->
<h3 class="card-title">Select feature sets</h3>
<p class="card-text">Select one or more feature sets to describe the object.</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Description</th>
            <th>Features</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: selectableFeatureSets">
        <tr>
            <td class="text-center">
                <a class="btn btn-lg btn-secondary" data-bind="click: onToggle, css: { active: selected }, text: definition.displayName"></a>
                <input data-bind="iCheck: selected" type="checkbox" />
            </td>
            <td>
                <!-- ko if: definition.description -->
                <!-- ko template: { name: 'description-template', data: definition.description } -->
                <!-- /ko -->
                <!-- /ko -->
            </td>
            <td class="align-middle">
                <!-- ko foreach: definition.features -->
                <span data-bind="text: displayName"></span>&nbsp;&nbsp;
                <!-- /ko -->
            </td>
        </tr>
    </tbody>
</table>
<!-- /ko -->