<div class="container-fluid top-level-view-content">
    <!-- ko template: 'next-previous-buttons-template' -->
    <!-- /ko -->

    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title mb-0 text-center" data-bind="text: review ? 'Review' : 'Select feature sets'"></h3>
                </div>
                <div class="container-fluid card-body text-center">
                    <!-- ko if: review -->
                    TODO: review contents
                    <!-- /ko -->
                    <!-- ko if: !review -->
                    <div class="row" data-bind="foreach: selectableFeatureSets">
                        <div class="col-12">
                            <a class="btn btn-lg btn-secondary" data-bind="click: onToggle, css: { active: selected }, text: displayName"></a>
                            <!-- ko if: definition.description -->
                            <span data-bind="text: definition.description"></span>
                            <!-- /ko -->
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>

    <!-- ko template: 'next-previous-buttons-template' -->
    <!-- /ko -->
</div>