<div aria-multiselectable="true" class="panel-group" id="worksheet-navigation" role="tablist">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a aria-expanded="true" aria-controls="collapseOne" class="btn btn-secondary" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" role="button">
                Features
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <ul class="list-group" id="root-feature-sets"></ul>
        </div>
    </div>
</div>
