<!-- Adapted from https://jsfiddle.net/kW33s/2/ -->
<div class="panel-group accordion-group" id="worksheet-navigation">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#feature-sets-collapse">
                    Features
                </a>
            </h4>
        </div>
        <div id="feature-sets-collapse" class="panel-collapse collapse">
            <div class="panel-body" id="feature-sets">
            </div>
        </div>
    </div>
</div>
