<!DOCTYPE html>
<html>
<body>
	<v-horizontal-layout height="2em" width="100%">
		<v-native-button height="100%" _id="homeButton" style-name="home" :left :middle></v-native-button>
		<v-horizontal-layout height="100%" :center :middle>
			<v-text-field height="100%" _id="searchTextField" width="32em"></v-text-field>
			<v-native-button height="100%" _id="searchButton" size-full style-name="search"></v-native-button>
		</v-horizontal-layout>
		<v-menu-bar height="100%" _id="rightMenuBar" :middle :right></v-menu-bar>
	</v-horizontal-layout>
</body>
</html>
