#worksheet {
    #input {
        .feature-value {
            padding-bottom: 2%;

            div.feature-value-checkbox {
                font-size: larger;
                text-align: center;
            }

            div.feature-value-image-rights {
                font-size: smaller;
                text-align: center;
            }

            .feature-value-link {
                display: block !important;
                text-align: center;
            }            
        }
    }
}