<div class="row" id="input">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h3 class="page-header">
                    <span><%- displayName %></span>
                    <span><button class="btn btn-secondary" id="reset-button" type="button">Reset</button></span>
                </h3>
            </div>
            <!--<div class="col-md-2">
                <h3>
                    
                </h3>
            </div>-->
        </div>
        <div class="row">
            <div id="values"></div>
        </div>
        <div class="row">
            <form class="form-horizontal">
                <div class="form-group">
                    <!--<label for="text" class="col-sm-offset-2 col-sm-2 control-label">Text:</label>
                <div class="col-sm-6 ">
                    <input type="text" class="form-control" id="text" placeholder="Text">
                </div>-->
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-8" id="text-column">
                        <textarea class="form-control" placeholder="Enter text" rows="10" id="text"></textarea>
                    </div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
            </form>
        </div>
    </div>
</div>
