#worksheet {
    #input {
        .feature-value {
            div.feature-value-checkbox {
                text-align: center;
            }

            .feature-value-link {
                display: block !important;
                text-align: center;
            }            
        }
    }
}