<div class="col-lg-3 col-md-4 col-xs-6 feature-value">
    <% if (image) { %>
    <div class="container-fluid image">
        <div class="row thumbnail">
            <a class="thumbnail"><img alt="<%- displayName %>" class="img-responsive" src="<%- image.thumbnailUrl %>" title="<%- displayName %>"></a>
            <a class="full-size"><i class="glyphicon glyphicon-search"></i></a>
        </div>
        <div class="row rights">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-8"><%- image.rights %></div>
            <div class="col-md-2">&nbsp;</div>
        </div>
    </div>
    <% } %>
    <div class="checkbox">
        <input class="form-check-input" name="feature-value-checkbox" type="checkbox" value="" />
        <label for="feature-value-checkbox"><%- displayName %></label>
    </div>
</div>
