<div class="col-lg-3 col-md-4 col-xs-6 feature-value">
    <a id="feature-value-link">
        <% if (image) { %>
        <img alt="<%- displayName %>" class="img-responsive" data-magnify-src="<%- image.fullSizeUrl %>" id="feature-value-img" src="<%- image.thumbnailUrl %>" title="<%- displayName %>">
        <% } else { %>
        <%- displayName %>
        <% } %>
    </a>
    <input class="form-check-input" id="feature-value-checkbox" type="checkbox" value="" />&nbsp;<%- displayName %>
</div>
