<div class="container-fluid" id="objects">
    <div class="row" data-bind="foreach: {data: objects, as: 'object'}">
        <div class="col-sm-2 object">
            <div class="container-fluid image">
                <div class="row thumbnail">
                    <img class="img-responsive" data-bind="attr: {src: image.thumbnailUrl}" class="thumbnail" />
                    <a class="full-size" data-bind="click: $parent.onClickFullSize"><i class="glyphicon glyphicon-search"></i></a>
                </div>
                <div class="row rights" data-bind="template: { data: image.rights, name: 'image-rights-template'}">
                </div>
                <div class="row question-sets">
                    <div class="questions">Questions</div>
                    <ul class="list-group" data-bind="foreach: { data: questionSetIds, as: 'questionSetId'}">
                        <li class="list-group-item"><a data-bind="click: function(data, event) { return $root.onClickQuestionSet(object, $root.questionSetsById[questionSetId.toString()]) }, text: $root.questionSetsById[questionSetId.toString()].title"></a></li>
                    </ul>
                </div>
            </div>
        </div> 
    </div>
</div>
