<div class="container-fluid" id="objects">
    <div class="row" data-bind="foreach: objects">
        <div class="col-sm-2 object">
            <div class="container-fluid image">
                <div class="row thumbnail">
                    <img class="img-responsive" data-bind="attr: {src: image.thumbnailUrl}" class="thumbnail" />
                    <a class="full-size" data-bind="click: $parent.onFullSizeClick"><i class="glyphicon glyphicon-search"></i></a>
                </div>
                <div class="row rights">
                    <div class="panel-group" id="rights-panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed rights-toggle" data-toggle="collapse" data-parent="#rights-panel-group" href="#rightsCollapseOne">
                                        Image (C) <span data-bind="text: image.rights.author"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="rightsCollapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table>
                                        <tr><td class="rights-field-name">Author</td><td class="rights-field-value" data-bind="text: image.rights.author"></td></tr>
                                        <tr><td class="rights-field-name">License</td><td class="rights-field-value" data-bind="text: image.rights.license"></td></tr>
                                        <tr><td class="rights-field-name">Source</td><td class="rights-field-value"><a data-bind="attr: {href: image.rights.sourceUrl}, text: image.rights.sourceName"></a></td></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
