#objects {
    .object {
        border: 1px solid;
        padding-bottom: 2%;
        padding-top: 2%;

        a.full-size {
            margin-left: 80%;
        }

        .image .rights {
            .panel-heading {
                .rights-toggle:after {
                    /* symbol for "opening" panels */
                    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
                    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
                    float: right;        /* adjust as needed */
                    color: grey;         /* adjust as needed */
                }

                .rights-toggle.collapsed:after {
                    /* symbol for "collapsed" panels */
                    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
                }
            }

            .panel-body {
                font-size: smaller;

                .rights-field-name {
                    font-weight: bold;
                }

                .rights-field-value {
                    text-align: right;
                }

                table {
                    width: 100%;
                }
            }

            .panel-title {
                font-size: smaller;
                text-align: center;
            }
        }

        div.questions {
            text-align: center;
        }

        div.thumbnail {
            border: none;
            margin: 0px;
            padding: 0px;
        }

        img.thumbnail {
            margin: 0px;
            padding: 0px;
        }
    }
}