<div class="container-fluid" id="questions">
    <div class="row">
        <div class="col-sm-4" data-bind="template: {data: questions, name: 'questions-list-template'}" id="left-column" />
        <div class="col-sm-8" id="right-column">
            <h3 data-bind="text: questionSet.title"></h3>
            <div data-bind="if: questionSet.description"><div data-bind="text: questionSet.description"></div></div>
            Select a question to the left or <a data-bind="click: $root.onClickFirstQuestion">go to the first one.</a>
        </div>
    </div>
</div>
