#question {
    #current-question {
        .row {
            text-align: center;
        }
    }

    #questions-list {
        #header {
            text-align: left;
        }

        .container-fluid {
            padding: 0px;
        }
    }
}
