<div class="modal-dialog" role="document" id="worksheet-accession-number-picker">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Please enter your name</h4>
        </div>
        <div class="modal-body">
            <input data-bind="event: {keypress: onKeypress}, hasFocus: !userIdComplete, textInput: userId" id="userIdInput" placeholder="Your name" size="32" type="text" />
        </div>
        <br />
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bind="click: submit, enable: userIdComplete">OK</button>
        </div>
    </div>
</div>
