<div class="container-fluid top-level-view-content">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-lg-4 text-center offset-lg-1 d-xs-none d-sm-none d-md-none d-lg-block d-xl-block">
            <img class="img-fluid" src="img/start.jpg" />
        </div>
        <div class="col-xs-12 col-lg-7 text-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title mb-0 text-center">Start a new worksheet</h3>
                            </div>
                            <div class="container-fluid card-body">
                                <div class="row">
                                    <div class="col-10">
                                        <input autofocus class="form-control" data-bind="event: {keypress: onKeypressNewStateId}" placeholder="Object id or accession number (optional)"
                                            type="text" />
                                    </div>
                                    <div>
                                        <button class="btn btn-primary" data-bind="click: onClickStartButton" type="submit">Start</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ko if: existingStateIds().length > 1 -->
                <div class="row mb-5">
                </div>
                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title mb-0 text-center">Existing worksheets</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped w-100" style="width: 100%">
                                    <tbody data-bind="foreach: existingStateIds">
                                        <tr>
                                            <td class="w-90">
                                                <a data-bind="attr: { href: $root.hrefs.worksheetState($data) }, text: $data.toString()"></a>
                                            </td>
                                            <td class="text-center">
                                                <a data-bind="click: function(data, event) { $root.onClickDeleteButton($data) }">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>