<div class="container-fluid top-level-view-content" id="start-view">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-lg-4 text-center offset-lg-1 d-xs-none d-sm-none d-md-none d-lg-block d-xl-block">
            <img class="img-fluid" src="img/start.jpg" />
        </div>
        <div class="col-xs-12 col-lg-7 text-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title mb-0 text-center">Start a new worksheet</h3>
                            </div>
                            <div class="container-fluid card-body">
                                <div class="row">
                                    <div class="col-10">
                                        <input autofocus class="form-control" data-bind="event: {keypress: onKeypressNewWorksheetStateId}, textInput: newWorksheetStateId"
                                            placeholder="Object id or accession number (optional)" type="text" />
                                    </div>
                                    <div>
                                        <button class="btn btn-primary" data-bind="click: onClickStartButton" type="submit">Start</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ko if: existingWorksheetStates().length > 1 -->
                <div class="row mb-5">
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title mb-0 text-center">Existing worksheets</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped w-100" style="width: 100%">
                                    <tbody data-bind="foreach: existingWorksheetStates">
                                        <tr>
                                            <td class="align-middle w-80">
                                                <!-- ko if: renaming() -->
                                                <input class="form-control rename-input" data-bind="event: {keypress: onKeypressNewId}, textInput: newId" placeholder="Rename list"
                                                    style="width: auto" type="text" />
                                                <a class="btn btn-default cancel-rename-button" data-bind="click: onClickRenameCancelButton">Cancel</a>
                                                <a class="btn btn-danger confirm-rename-button" data-bind="click: onClickRenameConfirmButton, css: { invisible: !renameConfirmButtonEnabled(), visible: renameConfirmButtonEnabled() }">Rename</a>
                                                <!-- /ko -->

                                                <!-- ko if: !renaming() -->
                                                <a data-bind="attr: { href: $root.hrefs.worksheetState(id()) }, text: id().toString()" title="Open this worksheet"></a>
                                                <div class="float-right" data-bind="css: { invisible: !deleting(), visible: deleting() }">
                                                    Delete?
                                                    <a class="btn btn-danger btn-sm confirm-delete-button" data-bind="click: onClickDeleteConfirmButton">Yes</a>
                                                    <a class="btn btn-default btn-sm cancel-delete-button" data-bind="click: onClickDeleteCancelButton">No</a>
                                                </div>
                                                <!-- /ko -->
                                            </td>
                                            <td class="delete-button text-center">
                                                <a data-bind="click: onClickDeleteButton" title="Delete this worksheet">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </td>
                                            <td class="rename-button text-center">
                                                <a data-bind="click: onClickRenameButton" title="Rename this worksheet">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>