<% if (output) { %>
    <% for (var outputKey in output) { _.each(output[outputKey].values, function(outputValue) { %>
    <div class="row">
        <div class="col-md-4 feature-name"><a><%- outputKey %></a></div>
        <div class="col-md-8 feature-value"><%- outputValue %></div>
    </div>
    <% }); } %>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8"><a id="csv">Download as CSV</a></div>
    </div>
<% } else { %>
Select values on the right to generate a description.
<% } %>
