#worksheet {
    #output {
        .action.btn {
            font-size: smaller;
            height: 100%;
        }
        
        #format {
            font-size: smaller;
            height: 100%;
            text-align: center;
        }
    }
}
