<div id="top-level-view">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" data-bind="attr: { href: $root.hrefs.root }" style="vertical-align: middle">
      <i class="fas fa-clipboard-check" />&nbsp;DressDiscover</a>
    <ul class="nav navbar-nav mx-auto">
      <li class="nav-item" style="font-size: 1.25rem">
        <ol class="breadcrumb breadcrumbs w-100" data-bind="foreach: breadcrumbs">
          <li class="breadcrumb-item" aria-current="page" data-bind="css: { active: active }">
            <!-- ko if: href -->
            <a data-bind="attr: { href: href }, text: text"></a>
            <!-- /ko -->
            <!-- ko if: !href -->
            <span data-bind="text: text"></span>
            <!-- /ko -->
          </li>
          <!-- /ko -->
        </ol>
      </li>
    </ul>
  </nav>
  <div data-bind="template: { name: 'alert-template', data: alerts }"></div>
  <div id="content"></div>
  <br />
  <hr />
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center">
          <a data-bind="attr: { href: hrefs.contact }">Contact</a>&nbsp;|&nbsp;
          <a data-bind="attr: { href: hrefs.credits }">Credits</a>&nbsp;|&nbsp;
          <a data-bind="attr: { href: hrefs.privacy }">Privacy</a>
        </div>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row">
        <div class="col-12 text-center">
          <p class="muted">&copy; Copyright 2018,
            <a href="http://minorgordon.net">Minor Gordon</a>. All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>
</div>