<div id="top-level-view">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <i class="fas fa-clipboard-check fa-3x" /> &nbsp;
    <a class="navbar-brand" data-bind="attr: { href: $root.hrefs.root }">DressDiscover Worksheet</a>
  </nav>
  <br />
  <div data-bind="template: { name: 'alert-template', data: alerts }"></div>
  <div id="content"></div>
  <br />
  <hr />
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center">
          <a data-bind="attr: { href: hrefs.contact }">Contact</a>&nbsp;|&nbsp;
          <a data-bind="attr: { href: hrefs.credits }">Credits</a>&nbsp;|&nbsp;
          <a data-bind="attr: { href: hrefs.privacy }">Privacy</a>
        </div>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row">
        <div class="col-12 text-center">
          <p class="muted">&copy; Copyright 2018,
            <a href="http://minorgordon.net">Minor Gordon</a>. All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>
</div>