<!DOCTYPE html>
<html>
<body>
	<v-horizontal-layout size-full>
		<v-vertical-layout :expand="2" :left>
			<v-native-button _id="institutionsButton"><b>Browse institutions</b></v-native-button>
			<v-label><br/></v-label>
			<v-native-button _id="catalogWizardButton"><b>Catalog wizard</b></v-native-button>
			<v-label><br/></v-label>
			<v-native-button _id="queryWizardButton"><b>Query wizard</b></v-native-button>
		</v-vertical-layout>
		<v-vertical-layout :expand="8">
			<vaadin-label :center :middle><h1>Welcome to Costume Explorer!</h1></vaadin-label>
		</v-vertical-layout>
	</v-horizontal-layout>
</body>
</html>
