<!DOCTYPE html>
<html>
<body>
	<v-horizontal-layout size-full spacing="true" style-name="objectEntryLayout">
		<v-vertical-layout :left spacing="true" :top>
			<v-label _id="titleLabel"></v-label>
			<v-form-layout _id="formLayout" size-full spacing="true"></v-form-layout>
			<v-vertical-layout _id="rightsLayout" spacing="true"></v-vertical-layout>
		</v-vertical-layout>
		<v-vertical-layout _id="rightPaneLayout" size-full style-name="rightPaneLayout" :right :top></v-vertical-layout>
	</v-horizontal-layout>
</body>
</html>
