<!DOCTYPE html>
<html>
<body>
	<v-vertical-layout style-name="catalog-wizard-start-view">
		<v-label><h1>Catalog Wizard</h1></v-label>
		<v-label><b>The following screens will present a series of feature choices.<br/> On each screen please select one or more options that best describes your object.</b></v-label>
		<v-label><br/></v-label>
		<v-label><h3>Choose a workflow:</h3></v-label>
		<v-button _id="costumeCoreButton" style-name="feature-set-button">Costume Core</v-button>
	</v-vertical-layout>
</body>
</html>
