<!DOCTYPE html>
<html>
<body>
	<v-horizontal-layout style-name="catalog-wizard-feature-view">
		<v-vertical-layout style-name="left-pane-layout">
			<v-label style-name="feature-set-label"><h3>Currently selected features:</h3></v-label>
			<v-vertical-layout _id="featureSetLayout"></v-vertical-layout>
		</v-vertical-layout>
		<v-vertical-layout style-name="right-pane-layout">
			<v-horizontal-layout _id="topNavigationLayout" style-name="top-navigation-layout"></v-horizontal-layout>
			<v-label _id="currentFeatureNameLabel" style-name="current-feature-name-label"></v-label>
			<v-horizontal-layout _id="currentFeatureLayout" style-name="current-feature-layout"></v-horizontal-layout>
            <v-vertical-layout _id="existingObjectLayout" style-name="existing-object-layout"></v-vertical-layout>
			<v-horizontal-layout _id="bottomNavigationLayout" style-name="bottom-navigation-layout"></v-horizontal-layout>
		</v-vertical-layout>
	</v-horizontal-layout>
</body>
</html>
