<div class="container-fluid has-inner-drawer" style="height: 100%">
    <div class="row" style="height: 100%">
        <div class="col-md-6" style="height: 100%">
            <div id="features-drawer" class="drawer drawer-inside dw-xs-10 dw-sm-6 dw-md-4 fold" aria-labelledby="features-drawer">
                <div class="drawer-controls">
                    <a href="#features-drawer" data-toggle="drawer" aria-foldedopen="false" aria-controls="features-drawer" class="btn btn-primary btn-sm">Features</a>
                </div>
                <div class="drawer-contents">
                    <div class="drawer-heading">
                        <h2 class="drawer-title">Features</h2>
                    </div>
                    <div class="drawer-body">
                        <p>
                            This is a properly padded container for content in the
                            drawer that isn't a navigation.
                        </p>
                        <a href="#">A Regular Link</a>
                    </div>
                    <ul class="drawer-nav" style="vertical-align: top">
                        <li role="presentation" class="active"><a href="#">Home</a></li>
                        <li role="presentation"><a href="#">Profile</a></li>
                        <li role="presentation"><a href="#">Messages</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="text-align: right">Right column</div>
    </div>
</div>
