// Triad http://paletton.com/#uid=3000u0k++jRZJvm+Xpg+Zec+X6Q
$costume-color-red: #9E0000;    // Main Primary color */
$costume-color-lighter-red: #FA0000;
$costume-color-light-red: #C90000;
$costume-color-dark-red: #710000;
$costume-color-darker-red: #360000;

$costume-color-blue: #005F5F;   // Main Secondary color (1) */
$costume-color-lighter-blue: #009696;
$costume-color-light-blue: #007979;
$costume-color-dark-blue: #004444;
$costume-color-darker-blue: #002121;

$costume-color-green: #629400;  // Main Secondary color (2) */
$costume-color-lighter-green: #9BE900;
$costume-color-light-green: #7DBC00;
$costume-color-dark-green: #466A00;
$costume-color-darker-green: #223300;
