@mixin HomeView {
  .home-view {
  	height: 100%;
  	width: 100%;

      .browse-objects-by-institution-button {
        background-color: $costume-color-red;
        color: white;
      }

      .catalog-wizard-button {
        background-color: $costume-color-blue;
        color: white;
      }

      .collection-directory-button {
        background-color: $costume-color-red;
        color: white;
      }

	  .query-wizard-button {
	  	background-color: $costume-color-dark-blue;
	  	color: white;
	  }

	  .v-slot-left-pane-layout {
	  	width: 30%;
	  }

	  .right-pane-layout {
	  }

	  .v-button {
        height: 2em;
        width: 100%;
	  }

	  .welcome-label {
	  	height: 100%;
	  	padding: 0px;
	  	text-align: center;
	  	vertical-align: middle;
	  }
  }
}
