@mixin Navbar {
  .navbar {
      display: inline-block;
      height: 2em;
      vertical-align: middle;
      width: 100%;

      .home-button {
        background-color: $dressdiscover-color-dark-red;
        color: white;
      }

      .right-menu-layout {
        float: right;
      }

      .search-button {
        background-color: $dressdiscover-color-dark-blue;
        color: white;
      }

      .search-text-field {
        width: 32em;
      }

      .v-menubar-menuitem-current-user-menu-item {
        background-color: $dressdiscover-color-light-blue;
        color: white;
      }

      .v-slot-home-button {
        width: 30%;
      }

      .v-slot-right-menu-layout {
        width: 30%;
      }

      .v-slot-search-layout {
        width: 40%;
      }
  }
}
