@mixin ObjectSummaryEntriesTable {
    .object-summary-entries-table {
        .bookmark-button {
          color: $dressdiscover-color-green;
        }

        .title-button {
          background-color: $dressdiscover-color-blue;
          color: white;
        }

        .v-table-cell-wrapper {
            text-align: center !important;
        }
    }
}
