@mixin ObjectFacetsLayout {
    .object-facets-layout {
      width: 100%;

      .v-checkbox-all {
        font-weight: bold;
      }

      .reset-button {
        background-color: $costume-color-lighter-red;
        color: white;
      }

      .v-checkbox-unknown {
        font-style: italic;
      }
    }
}
