@import "WizardFeatureView";

@mixin QueryWizardFeatureView {
    .query-wizard-feature-view {
        width: 100%;

        @include WizardFeatureView;

        .feature-set-hr-label {
            margin-bottom: 20px;
            margin-top: 20px;
            width: 100%;
        }

        .selected-object-count-button {
            background-color: $costume-color-blue;
            color: white;
            margin-top: 10px;
        }
    }
}
