@mixin RightsLayout {
    .rights-layout {
      .v-panel-caption {
        font-size: 8pt;
        font-style: italic;
        font-weight: bold;
      }

      .v-table-cell-content {
        font-size: 8pt;
      }

      .v-table-cell-content-rights-caption {
        font-weight: bold;
      }
    }
}
