@mixin WizardFeatureSetLayout {
  .wizard-feature-set-layout {
    .current-feature-button {
        background-color: $dressdiscover-color-darker-green;
    }

    .feature-button {
        background-color: $dressdiscover-color-green;
    }

    .feature-layout {
        width: 100%;
        padding-bottom: 20px;
    }

    .selected-feature-value-label {
    }

    .v-button {
        color: white;
        font-weight: bold;
        width: 100%;
    }

    .v-slot-feature-layout {
        width: 100%;
    }
  }
}
