@mixin WizardSummaryView {
    .feature-set-label {
        text-align: center;
    }

    .header-label {
        text-align: center;
    }

    .feature-set-layout {
        margin-left: 40%;
        text-align: center;
        width: 20% !important;
    }
}
