<div class="container-fluid top-level-view-content" id="credits-view">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title mb-0 text-center">Credits</h3>
                </div>
                <div class="container-fluid card-body">
                    <div class="row">
                        <div class="col-12">
                            <p>
                                <h4>Content</h4>
                                <a href="http://www.ardenkirkland.com">Arden Kirkland</a>
                            </p>
                            <br/>
                            <p>
                                <h4>Development</h4>
                                <a href="https://minorgordon.net">Minor Gordon</a>
                            </p>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>