<div class="container-fluid top-level-view-content" id="credits-view">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title mb-0 text-center">Credits</h3>
                </div>
                <div class="container-fluid card-body text-center">
                    <div class="row">
                        <div class="col-12">
                            Icon <img src="/img/favicon.png" width="32" height="32" /> courtesy <a href="http://robinweatherall.co.uk">Robin Weatherall</a>,
                            via <a href="http://www.iconarchive.com">iconarchive.com</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>