<div class="container-fluid top-level-view-content" id="credits-view">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title mb-0 text-center">Credits</h3>
                </div>
                <div class="container-fluid card-body">
                    <div class="row">
                        <div class="col-12">
                            <p>
                                <h3>Content</h3>
                                Arden Kirkland
                            </p>
                            <br/>
                            <p>
                                <h3>Development</h3>
                                Minor Gordon
                            </p>
                            <br/>
                            <p>
                                <h3>Images</h3>
                                Icon
                                <img src="/img/favicon.png" width="32" height="32" /> courtesy
                                <a href="http://robinweatherall.co.uk">Robin Weatherall</a>, via
                                <a href="http://www.iconarchive.com">iconarchive.com</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>