<!DOCTYPE html>
<html>
<body>
	<v-vertical-layout style-name="query-wizard-summary-view">
		<v-label style-name="header-label"><h1>Query Wizard: Summary</h1></v-label>
		<v-vertical-layout>
			<v-label style-name="feature-set-label"><h3>Selected features:</h3></v-label>
			<v-vertical-layout _id="featureSetLayout" style-name="feature-set-layout"></v-vertical-layout>
		</v-vertical-layout>
		<v-button _id="searchButton" style-name="search-button"><b>Search</b></v-button>
	</v-vertical-layout>
</body>
</html>
