/config/*.cfg
!/config/tcmuseum.cfg
/data/ardensandbox/
/data/costume_core_template/
/data/costume_core_ontology/extracted/
/data/costume_core_ontology/loaded/data/
/data/costume_core_ontology/loaded/original_image_cache/
/data/costume_core_ontology/loaded/thumbnail_cache/
/data/hctc/
/data/historicdress/
/data/iastate_amd_354/
/data/penn_museum/
/data/schcc/
/data/tcmuseum/
/data/tfc/
/data/uc_daap_vac/
/data/union/
/data/vccc/
*.pyc
/venv/
