<!DOCTYPE html>
<html>
<body>
	<v-vertical-layout height="10em" width="32em">
		<vaadin-label :center><b>Save bookmark</b></vaadin-label>
		<v-form-layout>
		    <v-text-field caption="Bookmark name" _id="nameTextField" width="16em" />
		</v-form-layout>
	    <v-horizontal-layout width="80%">
			<vaadin-button _id="cancelButton" :center><b>Cancel</b></vaadin-button>
			<vaadin-button _id="saveButton" :Center><b>Save</b></vaadin-button>
		</v-horizontal-layout>
	</v-vertical-layout>
</body>
</html>
