<div class="panel-group" id="sidebar" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="sidebarHeadingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#sidebarCollapseOne" aria-expanded="true" aria-controls="sidebarCollapseOne">
                    Accession number
                </a>
            </h4>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4" id="accessionNumber">
                        <%- accessionNumber %>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" id="changeAccessionNumberButton">Change</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-warning" id="deleteAccessionNumberButton">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebarCollapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="sidebarHeadingOne">
            <div class="panel-body" id="output">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="sidebarHeadingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#sidebarCollapseTwo" aria-expanded="true" aria-controls="sidebarCollapseTwo">
                    Features
                </a>
            </h4>
        </div>
        <div id="sidebarCollapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="sidebarHeadingTwo">
            <div class="panel-body" id="navigation">
            </div>
        </div>
    </div>
</div>
