<!DOCTYPE html>
<html>
<body>
	<v-horizontal-layout style-name="home-view">
		<v-vertical-layout style-name="left-pane-layout">
            <v-button _id="collectionDirectoryButton" style-name="collection-directory-button"><b>Collection directory</b></v-button>
            <v-label><br/></v-label>
			<v-button _id="browseObjectsByInstitutionButton" style-name="browse-objects-by-institution-button"><b>Browse objects by collection</b></v-button>
			<v-label><br/></v-label>
			<v-button _id="catalogWizardButton" style-name="catalog-wizard-button"><b>Catalog wizard</b></v-button>
			<v-label><br/></v-label>
			<v-button _id="queryWizardButton" style-name="query-wizard-button"><b>Query wizard</b></v-button>
		</v-vertical-layout>
		<v-vertical-layout style-name="right-pane-layout">
			<vaadin-label style-name="welcome-label"><h1>Welcome to DressDiscover!</h1></vaadin-label>
		</v-vertical-layout>
	</v-horizontal-layout>
</body>
</html>
