<div class="abstract-state-view container-fluid top-level-view-content">
    <!-- ko if: lastStateMarkIndex > 0 -->
    <div class="row">
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" data-bind="attr: { 'aria-valuemax': lastStateMarkIndex, 'aria-valuenow': currentStateMarkIndex }, style: { width: progressPercentage }, text: progressPercentage"
                aria-valuemin="0"></div>
        </div>
    </div>
    <!-- /ko -->

    <div class="row">
        &nbsp;
    </div>

    <!-- ko template: 'next-previous-buttons-template' -->
    <!-- /ko -->

    <div class="row">
        &nbsp;
    </div>

    <div class="row">
        <div class="col-12" id="state-content">
        </div>
    </div>

    <div class="row">
        &nbsp;
    </div>


    <!-- ko template: 'next-previous-buttons-template' -->
    <!-- /ko -->
</div>