@import "WizardFeatureView";

@mixin CatalogWizardFeatureView {
    .catalog-wizard-feature-view {
        width: 100%;

        @include WizardFeatureView;

        .existing-object-label {
            font-style: italic;
            font-weight: bold;
        }

        .existing-object-layout {
            margin-bottom: 20px;
            overflow: auto !important;
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
        }

        .right-pane-layout {
          width: 100%;
        }

        .v-slot-existing-object-label {
          text-align: left;
        }

        .v-slot-object-entry-form {
          width: 100%;
        }
    }
}
