@mixin ObjectEntryForm {
    .object-entry-form {
        h3 {
          font-size: large;
          font-weight: bold;
        }

        .title-button {
          background-color: $blue;
          color: white;
        }

        .more-like-this-button {
          background-color: $blue;
          color: white;
        }

        .v-formlayout .v-caption {
          font-weight: bold;
        }

        .v-table-header-cell {
          font-weight: bold;
        }
    }
}
