// Global variable overrides. Must be declared before importing Valo.

$v-app-loading-text: "DressDiscover";
$v-background-color: #fafafa;
$v-app-background-color: #e7ebf2;
$v-panel-background-color: #fff;
$v-focus-color: #3b5998;
$v-focus-style: 0 0 1px 1px rgba($v-focus-color, .5);
$v-border-radius: 3px;
$v-textfield-border-radius: 0;
$v-font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
$v-font-size: 14px;
$v-font-color: #37404E;
$v-font-weight: 400;
$v-link-text-decoration: none;
$v-shadow: 0 1px 0 (v-shade 0.2);
$v-bevel: inset 0 1px 0 v-tint;
$v-unit-size: 30px;
$v-gradient: v-linear 12%;
$v-overlay-shadow: 0 3px 8px v-shade, 0 0 0 1px (v-shade 0.7);
$v-shadow-opacity: 20%;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-selection-item-border-radius: 0;

@import "../valo/valo";

@mixin costume {
  @include valo;

  .bold-button {
    font-weight: bold;
  }

  .borderless {
  	border: none;
  }

  .disclosure-panel-content-wrapper-object-facet-picker {
  	padding: 10px;
  }

  .object-by-id-view .collection-button {
  	font-style: italic;
    font-weight: bold;
  }

  .object-by-id-view .institution-button {
  	font-style: italic;
    font-weight: bold;
  }

  .object-entry-layout h3 {
    font-size: large;
  	font-weight: bold;
  }

  .object-entry-layout .v-formlayout .v-caption {
  	font-weight: bold;
  }

  .rights-layout .v-panel-caption {
  	font-size: 8pt;
  }

  .rights-layout .v-table-cell-content {
    font-size: 8pt;
  }

  .v-checkbox-all {
  	font-weight: bold;
  }

  .v-checkbox-unknown {
  	font-style: italic;
  }

  .v-menubar {
  	background: none;
  }

  .v-button {
	background: transparent;
  }

  .v-panel-content {
  	overflow: auto;
  }

  .v-table-cell-content-thumbnail .v-caption {
    display: none;
  }

  .v-table-cell-wrapper {
    overflow: auto;
    white-space: normal;
  }
}
